/.quarto/
.*
!.gitignore
_freeze/
_output/
latex_output/
*.Rproj
_publish.yml
add_to_output/
*encrypt.r
*.aux
*.toc
*.tex
*.log
.Rproj.user
*trackdown.qmd
*track_down_secret.json
*cache*
site_libs/
chapters/*
!chapters/*.qmd
!chapters/images/
!chapters/images/*
!chapters/data/
!chapters/data/*
!chapters/table.tex
!chapters/table.md
index_files/
node_modules/

